*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    text-align: center;
    color: white;
    background-color: black;
    padding: 3rem;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    
}
.card{
    margin: 1rem;
    box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.6);
    max-width: 400px;
}
img{
    width: 100%;  
}
h3{
    text-align: center;
    padding: 1rem;
}
p{
    text-align: center;
    padding: 1rem;
}